{
  "apiKeySecretRef": {
    "name": "namecheap-credentials",
    "key": "apiKey"
  },
  "apiUserSecretRef": {
    "name": "namecheap-credentials",
    "key": "apiUser"
  },
  "apiDomainSecretRef": {
    "name": "namecheap-credentials",
    "key": "apiDomain"
  },
  "useSandbox": true
}
